.backButton{
    padding: 0.2rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    user-select: none;
}
.backButton:hover{
    background-color: lightgray;
}

.backButtonIcon{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem;
    margin-right: 1rem;
}