.aiOrderCard{
    padding: 2rem;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}

.orderInfoContainer{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}
.orderInfo{
    padding: 0rem 1rem;
    border-left: 2px solid #e0e0e0;
}

.cancelled , .declined{
    color: red;
}
.paid{
    color: blue;
}
.pending, .quoted ,.ordered{
    color: orange;
}
.completed{
    color: green;
}

.aiOrderItemCard{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.aiOrderDetails{
    padding: 1rem;
}

.aiOrderItemImageContainer{
    flex: 1;
    width: 5rem;
    height: auto;
}

.aiOrderItemImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.aiOrderDetails{
    flex: 5;
}

.aiOrderBtnContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    justify-content: end;
    gap: 0.5rem;
    align-items: center;
    border-left: 2px solid #e0e0e0;
}

.statusControls{
    display: flex;
    flex: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.statusButtons{
    display: flex;
    flex: row;
    gap: 0.5rem;
}
.statusDropDown{
    height: 100%;
    padding: 0.8rem;
    border: 1px solid #dcdcdc;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.statusDropDown:hover,
.statusDropDown:focus-within{
    outline: 1.5px solid #cfcece ;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
