.alertBanner{
    padding: 0.5rem 2rem;
    font-size: 0.85rem;
    border-radius: 0.5rem;
    overflow: hidden;
    max-width: 80%;
    width: fit-content;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08), 
                0 4px 8px rgba(0, 0, 0, 0.04);
    animation: slideDownFadeIn 0.3s ease-out forwards;
}
@keyframes slideDownFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.fadeOut {
    animation: slideUpFadeOut 0.3s ease-in forwards;
}
@keyframes slideUpFadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}
.error{
    border: solid red 2px;
    color: red;
    background-color: rgba(255, 0, 0, 0.2);
}

.warning{
    border: solid orange 2px;
    color: orange;
    background-color: rgba(255, 123, 0, 0.2);
}

.success{
    border: solid green 2px;
    color: green;
    background-color: rgba(68, 255, 0, 0.2);
}