.cartItemCardContainer{
    padding: 1rem;
}

.cartItemCardContentContainer{
    height: 11rem;
    display: flex;
    justify-content: space-between;
}

.cardItemDetailsContainer{
    width: 60%;
    display: flex;
    justify-content: start;
    gap: 1rem;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 1rem;
}

.cartItemImageContainer{
    padding: 1rem;
    border: 1px solid;
    border-radius: 0.5rem;
    height: 10rem;
    width: 9rem;
    overflow: hidden;
}

.cartItemInfoContainer{
    padding: 1rem;
    width: 27rem; 
}

.cartItemQtyTotContainer{
    width: 40%;
    display: flex;
    justify-content: end;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
}

.quantityContainer{
    padding: 1rem;
    width: 60%;
    text-align: center;
}

.totalContainer{
    padding: 1rem;
}