.orderCard{
    padding: 2rem;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}
.orderInfoContainer{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}

.orderInfo{
    padding: 0rem 1rem;
    border-left: 2px solid #e0e0e0;
}
.cancelled{
    color: red;
}
.paid{
    color: blue;
}
.pending, .in-progress{
    color: orange;
}
.completed{
    color: green;
}
.statusControls{
    display: flex;
    flex: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.statusButtons{
    display: flex;
    flex: row;
    gap: 0.5rem;
}
.statusDropDown{
    height: 100%;
    padding: 0.8rem;
    border: 1px solid #dcdcdc;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.statusDropDown:hover,
.statusDropDown:focus-within{
    outline: 1.5px solid #cfcece ;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
