.productCard{
    padding: 0.5rem;
    border-radius: 0.5rem;
    gap: 0.5rem;
    background-color: white;
    width: 11rem;
    height: 14rem;
    overflow: hidden;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.productCard:hover {
    transform: scale(1.05); /* slightly enlarge */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* stronger shadow */
    cursor: pointer;
}

.productCardImageContainer{
    flex:7;
    padding: 0.2rem;
    width: 100%;
    /* height: 10rem; */
    max-height: 10rem;
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productCardImageContainer img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.productCardDetails{
    flex:3;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.productCardDetails h6{
    font-size: 0.9rem;
    line-height: 1rem;

    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.productCardPrice{
    font-size:0.8rem;
}