.searchBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background: white;
  border-radius: 2rem;
  padding: 0.5rem;
  margin: 1rem 0;
  width: 40vw;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
}

.searchBarContainer:hover,
.searchBarContainer:focus-within{
    outline: 1.5px solid #cfcece ;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.searchInput {
  border: none;
  outline: none;
  border-radius: 2rem;
  padding: 0.5rem;
  flex-grow: 1;
  flex-shrink: 1; /* important to overwrite input default size*/
  min-width: 0;
  font-size: 1rem;
}

.searchButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  color: #666;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.searchButton:hover {
  color: #D8A7B1;
}