.specialtyCardContainer{
    padding: 2rem;
    align-items: center;
    background-color: #f8dde3;
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    user-select: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    flex-wrap: wrap;
    overflow: hidden;
}
.specialtyCardInfo{
    text-align: start;
}

.specialtyCardIcon{
    font-size: 2rem;
    padding: 1rem;
}
