.specialtiesContainer{
    padding: 2rem;
    text-align: center;
}

.specialtiesCardContainer{
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;
}
