@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');

.topNav{
    padding: 0.8rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    grid-area: topnav;
    align-items: center;
    letter-spacing: 0.5px;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    background-color: #D8A7B1;
    color: white;
    user-select: none;
    display: flex;
    justify-content: space-between;
}

.topNavButtonsContainer{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.topNavButton{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
}

.topNavButtonIcon{
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.topNavButtonIcon:hover{
    /* color: #eee; */
    font-size: 1.3rem;
}