.productImageContainer{
    padding: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    user-select: none;
    overflow: hidden;
    height: 58vh;
    width: 23vw;
}

.productImageContainer img{
    height: 54vh;
    width: 21vw;
    /* cursor: zoom-in; */
}

/* .productImageContainer:hover img{
    transform: scale(1.5);
} */