.account{
    padding: 1rem;
    user-select: none;
}

.accountContentContainer{
    padding: 1rem;
}

.loggedIn{
    padding: 1rem;
    text-align: center;
}

.accountSectionsContainer{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.accountOrdersSection, .accountProfileSection{
    padding: 1rem;
    border-radius: 0.5rem;
    width: 40rem;
    color: white;
    background-color: green;
    cursor: pointer;
}

.accountOrdersSection:hover, .accountProfileSection:hover{
    background-color: rgb(1, 103, 1);
}

