.orders{
    padding: 1rem;
    user-select: none;
}
.orderContentContainer{
    padding: 1rem;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.orderItemContainer{
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-direction: column;
}

.orderGroup{
    padding: 2rem;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.filterSelect{
    height: 100%;
    padding: 0.8rem;
    border: 1px solid #dcdcdc;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.filterSelect:hover,
.filterSelect:focus-within{
    outline: 1.5px solid #cfcece ;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
