.products{
    padding: 1rem;
    user-select: none;
}

.productsContentContainer{
    padding: 1rem;
}
.productCardContainer{
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.productCardEntry {
    opacity: 0; /* Start invisible */
    animation: cardEntrance 0.5s ease-out forwards;
}

@keyframes cardEntrance {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}