.productDetails{
    padding: 1rem;
}
.productDetailsContentContainer{
    padding: 2rem;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
}

.productDetailsInfo{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.sizeSelectionContainer{
    padding: 1rem;
    user-select: none;
}

.fixedSizeContainer select{
    margin: 0.5rem;
    border-radius: 0.2rem;
    border: 0.1rem #eee solid;
    cursor: pointer;
}

.rangeSizeContainer{
    padding: 0.5rem;

}
.productDetailsButtons{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    width: 20rem;
}
