.products{
    padding: 1rem;
    user-select: none;
}

.productsContentContainer{
    padding: 1rem;
}

.contentFirstRow{
    display: flex;
    justify-content: space-between;
}

.productList{
    padding: 2rem 0rem;
}

.productCardContainer{
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: start;
    gap: 0.3rem;
    flex-wrap: wrap;
}

.productCardEntry {
    opacity: 0; /* Start invisible */
    animation: cardEntrance 0.5s ease-out forwards;
}

@keyframes cardEntrance {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
