.productDetails{
    padding: 1rem;
}
.productDetailsContentContainer{
    padding: 2rem;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.productDetailsInfo{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.sizeSelectionContainer{
    padding: 1rem;
    user-select: none;
}

.fixedSizeContainer select{
    margin: 0.5rem;
    border-radius: 0.2rem;
    border: 0.1rem #eee solid;
    cursor: pointer;
}

.rangeSizeContainer{
    padding: 1rem;
}
.rangeSizeInputContainerTop{
    text-align: center;
}
.rangeSizeInputContainerBottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: red; */
    align-items: center;
}
.rangeSizeInput{
    /* accent-color: #d8a7b1; */
    cursor: pointer;
    width: 100%;
}
.rangeSizeInputText{
    padding: 0rem 1rem;
}

.productDetailsButtons{
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: 20rem;
}

.customiseButton{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: transparent;
    border: 1px solid  #444;
    color:  #444 ;
    user-select: none;
}
.customiseButton:hover{
    border: 1px solid #d8a7b1;
    color: #d8a7b1 ;
}

.addToCartButton{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #65a363;
    color: white;
    user-select: none;
}

.addToCartButton:hover{
    background-color: #5b9159;
}

.cancelButton{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: transparent;
    border: 1px solid rgb(190, 2, 2);
    color:  rgb(190, 2, 2) ;
    user-select: none;
}

.cancelButton:hover{
    border: 1px solid red;
    color: red ;
}


.optionWrapper {
    margin-bottom: 20px;
}

