.addProducts {
    padding: 1rem;
    user-select: none;
}

.addProductsContentContainer {
    padding: 1rem;
}

.addProductsTopSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

