.adminDashboard{
    padding: 1rem;
    user-select: none;
}
.adminDashboardContentContainer{
    padding: 1rem;
}

.chartRow {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
}

.chartCard {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 1.5rem;
    width: 100%;
    border: 1px solid #e2e8f0;
}


.chartWrapper {
    width: 100%;
    height: 350px; 
}