.aiCustomManagement{
    padding: 1rem;
    user-select: none;
}
.aiCustomManagementContentContainer{
    padding: 1rem;
}

.stepSection {
    background: white;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.cardRow {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding: 0.5rem 0;
}
.cardEntry{
    opacity: 0; /* Start invisible */
    animation: cardEntrance 0.5s ease-out forwards;
}
@keyframes cardEntrance {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.cardRow::-webkit-scrollbar {
    display: none;
}

.cardRow > * {
    flex-shrink: 0;
}

.addCard {
    min-width: 10rem;
    height: 12rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px dashed #aaa;
    border-radius: 0.5rem;

    cursor: pointer;
    flex-shrink: 0;

    transition: 0.2s;
}

.addCard:hover {
    background: #f3f3f3;
    transform: scale(1.03);
}