.aiOptionDetails{
    padding: 1rem;
    user-select: none;
}
.aiOptionDetailsContentContainer{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
}

.aiOptionCard{
    padding: 1rem;
    width: 20rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
    overflow: hidden;
}
.imageContainer{
    height: 12rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imageContainer img {
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.infoBox {
    margin-top: 1rem;
    line-height: 1.5;
}

.editButton {
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}