.editProducts{
    padding: 1rem;
    user-select: none;
}

.editProductsContentContainer {
    padding: 1rem;
}

.editProductsTopSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dltBtnContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
